{% extends "ajax/help/shell.html.twig" %}
{% block title %}{{'Hilfe'|trans({}, 'game')}} - {{'Einwohner'|trans({}, 'help')|raw}}{% endblock %}
{% block helpContent %}
<div class="helpArt">{{ 'Spielanleitung'|trans({},'help')|raw }}</div>
<h1>{{ 'Einwohner'|trans({},'help')|raw }}</h1>
<img class="pip" alt="pip" src="{{ asset('build/images/professions/select/basic.gif') }}">
<p>
{{ 'Der Einwohner ist einfacher Bürger. Er verfügt über keine spezielle Fähigkeit.'|trans({},'help')|raw }}
</p>
<label>{{ 'Startausrüstung'|trans({},'help')|raw }} : <strong><img alt="" src="{{ asset('build/images/professions/basic.gif') }}"> {{ 'Bürgerkleidung'|trans({},'help')|raw }}</strong></label>
<em>
{{ 'Die Klamotten, die du schon seit ein paar Jahren trägst. Sie sind abgetragen, erfüllen aber ihren Zweck: Sie sind bequem. In diesen Kleidern wirst du auch sterben, soviel steht schon einmal fest.'|trans({},'help')|raw }}
</em>
<h2>{{ 'Wie wird diese Figur gespielt?'|trans({},'help')|raw }}</h2>
<p>
{{ 'Es gibt nichts Besonderes zu erwähnen, du kannst spielen wie du möchtest...'|trans({},'help')|raw }}
</p>
<div class="clear"></div>
<a class="button" x-ajax-href="{{ url('help', {'name': 'collec'}) }}"><img src="{{ asset('build/images/icons/small_move.gif') }}" alt="move"> {{'Weiter'|trans({}, 'help')}}:<strong> {{ 'Buddler'|trans({},'help') }}</strong></a>
{% endblock %}