{% extends "ajax/help/shell.html.twig" %}
{% block title %}{{'Hilfe'|trans({}, 'game')}} - {{'Support'|trans({}, 'help')|raw}}{% endblock %}
{% block helpContent %}
<div class="helpArt">{{ 'Spielanleitung'|trans({},'help')|raw }}</div>
<h1>{{ 'Support'|trans({},'help')|raw }}</h1>
<p>
{{ 'Falls ein Problem mit dem Spiel auftreten sollte, bitten wir dich die nachfolgenden Anweisungen zu lesen und zu befolgen (überprüfe die Version deines Browsers, leere deinen Browsercache, ...).'|trans({},'help')|raw }}
</p>
<div class="clear"></div>
<a class="button" x-ajax-href="{{ url('help', {'name': 'getting_help'}) }}"><img src="{{ asset('build/images/icons/small_move.gif') }}" alt="move"> {{'Weiter'|trans({}, 'help')}}:<strong> {{ 'Hier erhältst du Hilfe'|trans({},'help') }}</strong></a>
{% endblock %}